#orgBody {
  padding: 0;
  text-align: center;
}

#subBody {
  padding: 0;
  text-align: center;
}

.carb-subscription {
  padding: 8px;
  text-align: left;
}

#subscription {
  display: inline;
}

th {
  background-color: #f7f7f761 !important;
}
