<div class="mt-2">
  <h2 class="text-center">{{organization.name}}</h2>
</div>
<div class="accordion" id="organization">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Users
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#organization">
      <div class="card-body" id="orgBody">
        <app-user [organization]="organization"></app-user>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Subscription
        </button>
        <app-loading [loading]="loadingSubscription"></app-loading>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#organization">
      <div class="card-body" id="subBody">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Max. Trainings</th>
              <th scope="col">Remaining Training</th>
              <th scope="col">Max. Upload sourcefile size (kb)</th>
              <th scope="col">Subscription Level</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>
                <p *ngIf="subscription">{{subscription.maxTrainings}}</p>
              </td>
              <td>
                <p *ngIf="subscription">{{subscription.remainingTrainings}}</p>
              </td>
              <td>
                <p *ngIf="subscription">{{subscription.maxUploadInKb}}</p>
              </td>
              <td>
                <p *ngIf="subscription">{{subscription.subscriptionLevel}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
