<div class="row">
  <div class="section">
    <span class="section__title">Testing</span>
  </div>
  <div class="col-sm-4">
    <select class="form-control" id="" name="trainingData" [(ngModel)]="selectedTrainingData">
      <option [ngValue]="null" disabled selected>--Choose a trained model--</option>
      <option *ngFor="let item of tdata" [ngValue]="item.url">{{item.endTime}}</option>
    </select>
  </div>
  <div class="col-sm-4">
    <input class="form-control" [class.loading]="testing" type="text" placeholder="Enter Test Word" [(ngModel)]="testWord" (change)="testModel()"
           [disabled]="!selectedTrainingData || testing">
  </div>
</div>
<div class="spacer spacer--20"></div>
<div *ngIf="synonyms" class="row">
  <div class="synonyms">
    <p>Found Synonyms:</p> 
    <ul class="synonyms-list">
      <li class="synonyms-list__item" *ngFor="let syn of synonyms" (click)="copyAndTestSynonym($event)">{{syn}}</li>
    </ul>
  </div>
</div>