.wrapper {
  min-height: calc(100vh - 24px);
}

.navbar {
  border-bottom: 1px dotted black;
}

.nav {
  &--login {
    float: right;
  }
}

.organization:hover {
  cursor: pointer;
  cursor: hand;
}
.organization {
  outline: 0; 
  margin-right: 12px;
} 