.wrapper {
  min-height: calc(100vh - 24px);
}

.navbar {
  border-bottom: 1px dotted black;
  background-color: #344352 !important;
}

.nav {
  &--login {
    float: right;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.fa.fa-navicon {
  color:white;
}

.organization {
  margin-right: 12px;
} 

.navbar-light .navbar-brand {
  color: #fff !important;
}

.organizationImage {
  cursor: pointer;
}

.progress {
  height: 5px;
  border-radius: 0;
}

.backgroundimage {  
  display: block;
  position: relative;
}

.backgroundimage::after {
  content: "";
  background: url("/assets/image.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: cover;
}

