<div class="spacer spacer--10"></div>
<div class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
      <label for="name" class="sr-only">Enter Name</label>
      <input type="text" class="form-control" 
                id="name" placeholder="Enter Name" 
                [(ngModel)]="modelDto.name"/>
    </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="description" class="sr-only">Enter Description</label>
    <textarea type="text" class="form-control form-description" 
              id="description" placeholder="Enter Description" 
              [(ngModel)]="modelDto.description"></textarea>
  </div>
  <div class="form-group">
    <label for="modelType" class="label-algo"></label>
    <select class="form-control mx-sm-3 mb-2" id="modelType" [(ngModel)]="modelDto.algorithm">
      <option>Word2Vec</option>
    </select>
    </div>
  <button class="btn btn-primary mb-2"(click)="addModel()" [disabled]="modelDto.name.length < 3"><i class="fa fa-plus fa-lg"></i></button>
</div>
<app-accordion [models]="models.content"
               *ngIf="models"></app-accordion>