<div class="container">
<div class="spacer"></div>
<div class="row register">    
        
    <div class="col align-self-center register-container vertical-center">                
        <div class="col col-sm-6 align-self-center">
        <div class="card">
            <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>                
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label class="label label--required" for="organization">Organization</label>
                    <input type="text" class="form-control" name="organization" [(ngModel)]="model.name" #organization="ngModel" required />
                    <div *ngIf="f.submitted && !organization.valid" class="help-block">Organization is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label class="label label--required" for="username">Administrator Email</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.adminEmail" #username="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Email is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label class="label label--required" for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.adminPassword" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Register</button>
                    <app-loading [loading]="loading"></app-loading>
                    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>