/* You can add global styles to this file, and also import other style files */

.spacer {
  display: block;

  &--10 {
    margin-top: 10px;
  }

  &--50 {
    margin-top: 50px;
  }
}

.help-block {
  color: red;
}

.label {
  &--required:after {
    content: "*";
    color: red;
  }
}