<div class="ml-2 mr-2 mb-2 mt-2">
  <input class="form-control" id="searchInput" type="text" placeholder="Search...">
</div>
<table class="table table-hover">
  <app-loading [loading]="loadingUser"></app-loading>
  <thead class="thead-light">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let user of users; let index = index">
      <td>{{user.email}}</td>

      <td>{{user.firstName}}</td>

      <td>{{user.firstName}}</td>

      <td>
        <button type="button" class="btn btn-link btn-link--red pull-right">
          <i class="fa fa-trash fa-lg"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>