<div class="ml-2 mr-2 mb-2 mt-2">
  <div class="form-inline">

    <div class="form-group mb-2 mr-2">
      <input type="text" class="form-control" id="userMail" placeholder="Enter Email" [(ngModel)]="newUser.email"/>
    </div>

    <div class="form-group mb-2 mr-2">
      <input type="text" class="form-control" id="nameName" placeholder="Enter Firstname" [(ngModel)]="newUser.firstName" />
    </div>

    <div class="form-group mb-2 mr-2">
      <input type="text" class="form-control" id="nameLastNane" placeholder="Enter Lastname" [(ngModel)]="newUser.lastName" />
    </div>

    <div class="form-group mb-2 mr-2">
      <input type="text" class="form-control" id="namePassword" placeholder="Enter Password" [(ngModel)]="newUser.password" />
    </div>
    <button class="btn btn-light mb-2" (click)='createUser()'>
      <i class="fa fa-plus fa-lg"></i>
    </button>

  </div>
</div>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let user of users; let index = index">
      <td>{{user.email}}</td>

      <td>{{user.firstName}}</td>

      <td>{{user.firstName}}</td>

      <td>
        <button type="button" (click)="deleteUser(user.email)" class="btn btn-link btn-link--red pull-right">
          <i class="fa fa-trash fa-lg"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
