.column-heading {
  display: inline-block;
  margin-right: 6px;
}

.progress {
  height: 2px;
  margin: -20px -20px 15px -20px;
}

.btn-link--red {
  color: red;
}

.textarea-description {
  resize: none;
  height: 250px;
}