.column-heading {
  display: inline-block;
  margin-right: 6px;
}

.progress {
  height: 5px;
  margin: -20px -20px 15px -20px;
  border-radius: 0;
}

.btn-link {
  &--red {
    color: red;
  }
}

.textarea-description {
  resize: none;
  height: 250px;
}

.btn {
  &--fullWidth {
    width: 100%;
    margin-bottom: 10px;
  }
}
